doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/js/vendor/bootstrap/docs/assets/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    block content