doctype 5
html
  head
    meta(charset='utf-8')
    title= title
    if hasStyle
        link(rel='stylesheet', href="/document/" + file._id + ".css")
    else
        link(rel='stylesheet', href="/stylesheets/default-remark.css")


    script(src="http://gnab.github.com/remark/downloads/remark-0.4.6.min.js")
        {"highlightStyle": "monokai"}

    script
        var hljs = remark.highlighter.engine();
    script(src="http://gnab.github.com/remark/remark.language.js")
  body
    block content