<a href="#" class="md-file">
  <% if (type === 2) { %>
    <i class='icon-film'></i>
  <% } else if (type === 1) { %>
    <i class='icon-align-justify'></i>
  <% } %>
  <%= name %>
</a>

<div class="popover fade bottom in tool-container">
    <div class="arrow"></div>
    <div class="popover-inner">
        <!-- <h3 class="popover-title">Popover on bottom</h3> -->
        <div class="popover-content">
            <a href="#" class="tool-item gradient rename" title="Rename"><i class="icon-edit"></i></a>
            <a href="#" class="tool-item gradient delete" title="Delete"><i class="icon-trash"></i></a>
        </div>
    </div>
</div>