<a href="#" class="md-file"><%= name %></a>

<div class="popover fade bottom in tool-container">
    <div class="arrow"></div>
    <div class="popover-inner">
        <!-- <h3 class="popover-title">Popover on bottom</h3> -->
        <div class="popover-content">
            <a href="#" class="tool-item gradient rename"><i class="icon-edit"></i></a>
            <a href="#" class="tool-item gradient delete"><i class="icon-trash"></i></a>
            <a href="#" class="tool-item gradient options"><i class="icon-wrench"></i></a>
        </div>
    </div>
</div>