extends layouts/document

block content

  div#top-nav.navbar.navbar-static-top
    div.navbar-inner
      a.brand(href='/') Markdowner
      //- ul.nav
      //-   li.dropdown
      //-     a.dropdown-toggle(tabindex="-1", data-toggle='dropdown', href="#") Print
      //-       b.caret
      //-     ul.dropdown-menu
      //-       li
      //-         a.print-paper(tabindex="-1", href='#') Paper
      //-       li
      //-         a.print-pdf(tabindex="-1", href="#") PDF 


      ul.nav.pull-right
        li
          a(tabindex="-1", href="#user-box", role="button", data-toggle="modal")
            img.user-avatar(src=user.twitterObj._json.profile_image_url, alt=user.twitterObj.username)
            = user.twitterObj.username

  div#document-export.compiled.github.document-export
      != md(doc.body)

  script(src='/js/vendor/jquery/dist/jquery.js')
  script(src='/js/vendor/bootstrap/js/bootstrap-dropdown.js')

  include helpers/google
