div.modal.hide.fade#file-options
    div.modal-header
        button.close(data-dismiss='modal', aria-hidden='true', type='button') &times;
        h3 File Properties
    div.modal-body
        
        form
            fieldset
                label.checkbox.public
                    input(type='checkbox') 
                    | Publicly Available?
                
                input.input-block-level(type='text', value='http://localhost:3000/document/hjkh13kjh321jkh32', disabled, readonly)


                label.checkbox.remark
                    input(type='checkbox')  
                    |  Is it a <a href="http://gnab.github.com/remark/">Remark</a> document?
                
                span.help-block Remark is a tool for easily making slides from markdown.
