- if (!everyauth.loggedIn)
  h2 Not Authenticated

  #twitter-login
    a(href='/auth/twitter', style='border: 0px')
      img(style='border: 0px', src='https://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-l.png')
- else
  h2 Authenticated
  - if (everyauth.twitter)
    h3 Twitter User Data
    p= JSON.stringify(everyauth.twitter.user)

  h3
    a(href='/logout') Logout