extends layouts/layout

block content
  
  include helpers/navbar

  div#filelist.filestructure.well
    ul.nav.nav-list

  include helpers/tool
  
  include helpers/userBox
  include helpers/load

  script(src='js/vendor/require.js')
  script
    require(['js/main'], function (App) {
      App.init();
    });
    
    
  include helpers/google
