extends layouts/layout

block content
  
  include helpers/navbar

  div#filelist.filestructure.well
    ul.nav.nav-list

  include helpers/tool
  
  include helpers/userBox
  include helpers/load

  script(src='http://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js')
  script(src='js/vendor/require.js')

  
  include helpers/google