div.modal.hide.fade#user-box
    div.modal-header
        button.close(data-dismiss='modal', aria-hidden='true', type='button') &times;
        h3 User Settings
    div.modal-body
        
        p Do you wish to connect with Dropbox to synchronize your documents?
        p.login-button
            a.btn.btn-large.btn-success(href="/auth/twitter")
              i.icon-magnet
              |  Connect with Dropbox