/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

@import "elements.less";
@import "sidebar.less";
@import "markdown-github.less";
@import "toolbar.less";
@import "navbar.less";
@import "editor.less";

.modal-body .readonly {
  cursor: pointer;
  background: #f9f9f9;
}

.saving-screen {
  position: absolute;
  top: 3px;
  right: 190px;
  z-index: 1500;
  width: 100px;
}

.user-box .modal-body {

  figure {
    padding: 0;
    margin: 0;
    margin-right: 10px;
  }

  h4 {
    margin: 0;
  }

  hr {
    margin: 10px 0;
  }
}
