
.tool-container {

    position: absolute;
    top: inherit;

    left: 50%;
    margin-left: -45px;

    padding: 3px;

    width: inherit;

    display: none;

    .popover-content {
        padding: 1px 6px;
    }
}


