div.modal.hide.fade#editor-settings.editor-settings
    div.modal-header
        button.close(data-dismiss='modal', aria-hidden='true', type='button') &times;
        h3 Editor Settings
    div.modal-body
        form.settings-form
            ul.checkbox-settings-list

                li
                    label.checkbox
                        input.wrap-lines(type="checkbox")
                        | Wrap Lines 

                li
                    label.checkbox
                        input.full-line-selection(type="checkbox")
                        | Full Line Selection 

                li
                    label.checkbox
                        input.highlight-active-line(type="checkbox")
                        | Highlight Active Line   

                li
                    label.checkbox
                        input.show-invisibles(type="checkbox")
                        | Show Invisibles 

                li
                    label.checkbox
                        input.show-indent-guides(type="checkbox")
                        | Show Indent Guides  

                li
                    label.checkbox
                        input.show-gutter(type="checkbox")
                        | Show Gutter 

                li
                    label.checkbox
                        input.show-print-margin(type="checkbox")
                        | Show Print Margin   

                li
                    label.checkbox
                        input.use-soft-tab(type="checkbox")
                        | Use Soft Tab    

                li
                    label.checkbox
                        input.hightlight-selected-word(type="checkbox")
                        | Highlight selected word