div#top-nav.navbar.navbar-static-top
  div.navbar-inner
    a.brand(href='/') Markdowner
    ul.nav
      li.dropdown
        a.dropdown-toggle(data-toggle='dropdown', href="#") File
          b.caret
        ul.dropdown-menu
          li
            a#savefile(href='#') Save
              span.pull-right &#x2318;S
          li.divider
          li
            a(href='#', style='color: #ccc') Export file 
              span.pull-right &#x2318;E
          //- li
          //-   a#file-options-button(href='#') File Options

      li.dropdown
        a.dropdown-toggle(data-toggle='dropdown', href="#") New
          b.caret
        ul.dropdown-menu
          li
            a#newfile(href='#') Markdown
              span.pull-right &#x2318;L
          li
            a#newfolder(href='#') Folder
              span.pull-right &#x21E7;&#x2318;L

      li.dropdown
        a.dropdown-toggle(data-toggle='dropdown', href="#") Build
          b.caret
        ul.dropdown-menu
          li
            a#compile-button(href='#') Compile
              span.pull-right &#x2318;M

      li.dropdown.view
        a#theme-button.dropdown-toggle(data-toggle='dropdown', href="#") Theme
          b.caret
        ul#themelist.dropdown-menu
          

      li.dropdown
        a.dropdown-toggle(data-toggle='dropdown', href="#") View
          b.caret
        ul.dropdown-menu
          li
            a#toggle-sidebar(href='#') Toggle Sidebar
              span.pull-right &#x2318;K
          li
            a#toggle-style(href='#') Toggle Style Edit
          //- li
          //-   a#toggle-horizontal(href='#') Toggle Horizontal View

   

    ul.nav.pull-right
      li
        a#fullscreen-button(href='#')
          i.icon-fullscreen

    - if (user)
      ul.nav.pull-right
        li
          a(href="#user-box", role="button", data-toggle="modal")
            img.user-avatar(src=user.twitterObj._json.profile_image_url, alt=user.twitterObj.username)
            = user.twitterObj.username