
div.tool-wrapper
  div#editor.editor

  div.file-settings#file-settings
      div.input-prepend.input-append
        a.btn.public-button.active.btn-info(href="#", title='Is Public?', data-placement="right", data-toggle="tooltip") 
          i.icon-globe
        input.span7(type='text', value='http://www.markdowner.com/document/hdksjahkjhds7d827hd87h87he8w')
        a.btn.remark-button(href="#", title='Is document Remark Type?', data-placement="left", data-toggle="tooltip") 
          i.icon-film

  div.markdown#compiled
    
    p.weak-text Compiled Output
    div.compiled.github