
div.tool-wrapper
  div#editor.editor

  div.file-settings#file-settings
      div.input-prepend.input-append
        a.btn.public-button(href="#", title='Is Public?', data-placement="right", data-toggle="tooltip") 
          i.icon-globe
        input.span5.readonly(type='text', value='Not Loaded', disabled)
        a.btn.remark-button(href="#", title='Is document Remark Type?', data-placement="left", data-toggle="tooltip") 
          i.icon-film

  div.markdown#compiled
    
    p.weak-text Compiled Output
    div.compiled.github